.card {
    background-color: #21242C;
    margin: 7rem 5rem;
    width: 15rem;
    border: 1px solid #3a3a3e;
    border-radius: 5%;
    box-shadow: #212128 0rem 0rem 0.3rem;
    display: flex;
    text-align: left;
    padding: 1.5% 0.5% 1% 1.5%;
    color: whitesmoke;
}

.card-content {
    width: 100%;
}


.card-header, .card-footer {
    height: 2rem;
    color: #6B6E76;
}


.rmv-button {
    background-color: #21242C;
    border: hidden ;
    margin: auto;
}

.name-column {
    flex: 1;
    position: relative;
}

.value-column {
    width: 10rem;
    position: relative;
}

.remove-column {
    width: 15rem;
    position: relative;
}


