<div class="card">
    <div class="card-header">January</div>

    <div class="card-body">
        <div class="body-header">
            <span class="name-column">Expense</span>
            <span class="value-column">Value</span>
            <span class="remove-column"></span>
        </div>
        <div class="body-content" *ngFor="let expense of expensesList">
            <span class="name-column">{{ expense.name }}</span>
            <span class="value-column">{{ expense.value }}</span>
            <span class="remove-column"><button class="rmv-button" (click)="removeExpense(expense.id)"><img src="../assets/deletebutton.png"></button></span>
        </div>
    </div>
    
    <div class="card-footer">
        <span>Total</span>
        <span>{{ getSum() }}</span>
    </div>
</div>