<div class="card">
    <table class="card-content">
        <caption>January</caption>
    
        <thead class="card-header">
            <tr>
                <th>Expense</th>
                <th class="al-right">Value</th>
            </tr>
        </thead>
    
        <tbody class="card-body" *ngFor="let expense of expensesList">
            <tr>
                <td class="name-column">{{ expense.name }}</td>
                <td class="value-column al-right">{{ expense.value }}</td>
                <td class="remove-column al-right"><button class="rmv-button" (click)="removeExpense(expense.id)"><img src="../assets/deletebutton.png"></button></td>
            </tr>
        </tbody>
      
        <tfoot class="card-footer">
            <tr>
                <td>Total</td>
                <td class="al-right">{{ getSum() }}</td>
            </tr>
        </tfoot>
    
    </table>
</div>