.new-entry {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input {
    width: 90%; 
    padding: 5px; 
    box-sizing: border-box; 
    color: black;
    border-radius: 10px;
}

.name-column {
    flex: 5;
    text-align: left;
}

.value-column {
    flex: 3;
    text-align: right;
}

.card-button {
    background-color: #21242C;
    border: none;
    cursor: pointer;
}


