/* You can add global styles to this file, and also import other style files */
body {
    background-color: #17181F;
    font-family: sans-serif;
}

.al-left {
    text-align: right;
}

.al-right {
    text-align: right;
}